* text=auto

linien/server/linien_install_requirements text eol=lf
linien/server/linien_start_ethernet_blinking text eol=lf
linien/server/linien_start_server text eol=lf
linien/server/linien_stop_ethernet_blinking text eol=lf
linien/server/linien_stop_server text eol=lf
 *.bin filter=lfs diff=lfs merge=lfs -text
