/build/*
!/build/.keep_me
__pycache__
*.bin
*.vcd
*.sav
*.pdf
*.pyo
*.pyc
/*.v
/dist
.eggs
linien-*

.mypy_cache
.vscode
linien.egg-info
linien_server.egg-info
fpga_build
VERSION
.Xil
.pytest_cache
*.egg-info