/build/*
!/build/.keep_me
__pycache__
*.vcd
*.sav
*.pdf
*.pyo
*.pyc
/*.v
/dist
.eggs

.mypy_cache
.vscode
linien.egg-info
linien_server.egg-info
fpga_build
VERSION
.Xil
.pytest_cache
*.egg-info

# results of pytest-html
tests/*.html
tests/assets/*