altgraph==0.17
appdirs==1.4.4
bcrypt==3.2.0
cffi==1.14.2
click==8.1.2
cryptography==3.3.2
future==0.18.2
numpy==1.21.0
paramiko==2.10.1
pefile==2019.4.18
plumbum==1.6.9
pycparser==2.20
PyNaCl==1.4.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqtgraph==0.11.0
pywin32-ctypes==0.2.0
rpyc==4.1.5
scipy==1.4.1
six==1.15.0
superqt==0.2.3
packaging==21.3
