# linien.service
[Unit]
Description=Spectroscopy lock server for RedPitaya
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/linien-server
# stop / start ethernet blinking using: mdio-tool[1], see:
# https://github.com/RedPitaya/RedPitaya/issues/205
#
# [1]: https://github.com/linien-org/mdio-tool
ExecStartPre=/usr/bin/mdio-tool w eth0 0x1b 0x0000
ExecStopPost=/usr/bin/mdio-tool w eth0 0x1b 0x0f00

[Install]
WantedBy=multi-user.target

# vim:ft=systemd
